<nav class="site-nav">
    <div class="site-nav-left-wrapper">
        <div class="site-nav-left">
            {{#if @blog.logo}}
                <a class="site-nav-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
            {{else}}
                <a class="site-nav-logo" href="{{@blog.url}}">{{@blog.title}}</a>
            {{/if}}
            <div class="site-nav-content">
                {{#if @blog.navigation}}
                    {{navigation}}
                {{/if}}
                {{#is "post"}}
                    <span class="nav-post-title {{#unless @blog.logo}}dash{{/unless}}">{{post.title}}</span>
                {{/is}}
            </div>
        </div>
    </div>
    <div class="site-nav-right">
        <div class="site-nav-content">
            <div class="nav ">
            <nav class="navbar navbar-expand-lg navbar-light  ">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class=" navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link " href="/ghost">LOGIN</a>
                    </li>
                </ul>
            </div>
            </nav>
            </div>
        </div>
            
    </div>
</nav>
