{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The big featured header --}}

{{!-- The main content area on the homepage --}}


<script type="text/javascript" src="{{asset "js/index.js"}}"></script>

{{!-- The main content area --}}
<main id="site-main" class="container site-main" role="main">

  {{!-- Panels displayed here. Each panel is linked the a static page named 'index1-5' --}}
  <div class="row">
    <div class="blog-masonry masonry-true" >
    {{#get "posts" filter="page:true" order="title asc" as |pages pagination|}}
  
    {{#foreach pages}}
        <div class="post-masonry anthem-index-card col-md-4 col-sm-6">
          <div class="post-thumb">
            <a href="{{url}}">
              <img src="{{img_url feature_image}}" alt="">
              <div class="title-over">
                <h2>{{title}}</h2>
              </div>
              <div class="post-hover text-center">
                <div class="inside">
                  <h3>{{title}}</h3>
                  {{content}}
                </div>
              </div>
            </a>
          </div>
        </div>
    {{/foreach}}
    {{/get}}
    </div>
  </div>
  <div class="post-feed">
  {{#get "posts"  include="author,tags" filter="featured:true" }}
  {{#foreach posts}}
    {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
    {{> "post-card"}}
  {{/foreach}}
  {{/get}}
  </div>
</main>
